@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", sans-serif; }

h1 {
  font-weight: 100;
  font-size: 50px; }

.home {
  height: 100%;
  width: 100%;
  text-align: center; }
  .home img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }
  .home .Aligner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  .home .Aligner-item {
    max-width: 50%; }
  .home .menu ul li {
    padding: 10px 15px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500; }
  .home .version-num {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 7px 15px;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0 20px; }
  .home a {
    text-decoration: none;
    color: #30395c;
    transition: all 0.3s ease-in-out; }
    .home a:hover {
      color: #43d4d6; }

.badge {
  border-radius: 5px;
  padding: 3px 15px; }

.badge-grass {
  background-color: #9bcc50; }

.badge-poison {
  background-color: #b97fc9; }

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  color: #1f1f1f;
  cursor: pointer; }
  .card .card-container {
    margin: 0 auto;
    max-width: 280px; }
    .card .card-container .card-img {
      padding: 10px 0; }
      .card .card-container .card-img img {
        background-color: #b9b9b9;
        border-radius: 5px;
        width: 280px; }
    .card .card-container .card-text span {
      font-size: 0.875em;
      font-weight: 300; }
    .card .card-container .card-text p {
      margin-top: 10px;
      font-size: 1.3em;
      font-weight: 300; }
    .card .card-container .card-badges {
      margin-top: 15px;
      font-size: 0.8em;
      color: #fff; }
    .card .card-container .card-info {
      margin: 15px 0 10px 0;
      padding: 5px 0;
      background-color: #b9b9b9;
      border-radius: 5px;
      width: 280px; }

.status {
  display: flex;
  align-items: center; }

.status li:first-child {
  margin-right: 10px;
  color: #fff;
  width: 80px;
  text-align: right; }

.circle {
  border-radius: 100%;
  width: 7px;
  height: 7px;
  border: 3px solid #fff;
  background-color: #fff;
  margin: 3px 3px; }

.circle-check {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  background-color: #0060bf;
  margin: 3px 3px; }
